{% include 'incs/head.html' %}

<body class="d-flex flex-column min-vh-100">
    {% include 'incs/nav.html' %}

    <style>
        /* Page-level layout helpers */
        .page-container {
            min-height: calc(100vh - 60px);
            padding-bottom: 3rem;
        }

        h1, h2, h3, h4, h5 {
            font-weight: 700;
            color: #1a1a2e;
        }
    </style>

    <main class="flex-grow-1">
{% block context %}


    {% endblock %}


    </main>
    {% include 'incs/footer.html' %}

</body>

</html>